.container {
    max-width: 800px!important;
    margin: auto; 
    padding: 30px;
    background: #fff; 
    padding-top: 0;
    font-size: 13px;
}



.td1{
    border: 1px solid #c1c1c1;
    width: 80%;
    font-size: 13px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 30px;
}

.td11{
    border: 1px solid #c1c1c1;
    width: 20%;
    font-size: 13px;
    padding: 20px;
    text-align: center;
    padding-bottom: 30px;
}

.td2{
    border: 1px solid #c1c1c1;
    width: 40%;
    padding-left: 10px;
    text-align: left;
    padding-bottom: 10px;
}

.td22{
    border: 1px solid #c1c1c1;
    width: 60%;
    padding-left: 10px;
    text-align: left;
    padding-bottom: 10px;
}

.td23{
    border: 1px solid #c1c1c1;
    width: 60%;
    padding-left: 10px;
    text-align: left;
    padding-bottom: 10px;
}

.table1{
    align-items: center;
    width: 100%;
    text-align: left;
    padding-left: 10px;
}

.td24{
    border: 1px solid #c1c1c1;
    
}

td{
    border: 1px solid #c1c1c1;
    padding-bottom: 10px;
    padding-left: 10px;
}


.tdd{
    padding-left: 0;

}

.table3{
    margin-top: 1%;
}