@tailwind base;

@tailwind components;

@tailwind utilities;

 

body {

    @apply bg-neutral-100;
    
}


/*.td1{
    border: 1px solid;
    padding: 5px;
    width: 50%;

}

.container {
    border: 1px solid;
    padding: 5px;
    margin: 0 auto;
    width: 99.7%; 
}


.table1{
    margin: 0 auto;
    width: 80%;

}

 .table1 .td-inicial{
    font-size: 1.4em;
    font-weight: bold;
    text-align: initial;
    font-family:"Arial",sans-serif;
    border: 1px solid;
    padding: 5px;
    width: 50%;
 }

 

 .table1 .td-inicial2{
    font-size: 1.3em;
    text-align: initial;
    font-family:"Arial",sans-serif;
    border: 1px solid;
    padding: 5px;
    width: 50%;
 }

 

.texto1{
    font-size:25px;
    margin-left:41.2pt;
    text-align:justify;
    font-family:"Arial",sans-serif;
    font-weight: bold;

}

.texto2 {
    font-weight: bold; 
    font-family:"Arial",sans-serif;
    font-size:20px; 
}


.texto3{
    font-size:1.3em;
    font-family:"Arial",sans-serif;
    width: 78%;
    text-align:left;
    margin-left: 11%;
}



.table2{
    margin: 0 auto;
    width: 50%;
    font-size: 1.3em;
    margin-left: 11%;
}

.boton{
    margin-left: 40%;
    padding: 20px 40px; 

}*/

/* Estilos para mejorar la apariencia del documento */

/* Asegúrate de quitar cualquier otro estilo que pueda añadir bordes a tu tabla */


/* Añade más estilos según sea necesario */